/* General reset */
body {
    height: 100%;
    width: 290px;
}
  /* Header styling */
  h2 {
    margin: 10px 0 20px 0;
    color: #555;
    font-size: 20px;
    text-align: center;
  }
  
  /* Input field styling */
  input[type="text"],
  input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  /* Button styling */
  button {
    background-color: #5cb85c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #4cae4c;
  }
  
  /* Blocked list styling */
  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    width: 100%;
  }
  
  ul li {
    background: #eee;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  ul li span {
    color: #d9534f;
    font-weight: bold;
    cursor: pointer;
  }
  
  ul li span:hover {
    color: #c9302c;
  }
  